.gitignore
# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
src/uae

# Autotools
/aclocal.m4
/autom4te.cache
/confdefs.h
/config.log
/config.status
/configure
/aclocal.m4
/src/tools/autom4te.cache
/src/tools/config.log
/src/tools/config.status
/src/tools/configure

# Living life dangerously... :-)
Makefile
Makefile.in

# PNaCl
.deps

# MacOS
.DS_Store

# Emacs
*~
